<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Connect {{ size - 1 }}
  </h1>
  <div id="board">
	  <div class="row" *ngFor="let row of range(size) as rows; index as r;">
		<div class="cell" (click)="select(c,r)"  [ngClass]="{'display': true, 'odd': (abs(r - c) % 2), 'brown': getBoard()[c][r] == 'brown', 'purple': getBoard()[c][r] == 'purple'}" *ngFor="let column of range(size) as columns; index as c;">
		        {{getBoard()[c][r] ? 'X' : ''}}
		</div>
	  </div>
  </div>
</div>
