/* You can add global styles to this file, and also import other style files */
h1 {
	color:green;
	font-size:50pt;
	font-weight:100;
	background-color:orange;
}

body {
	background-color:blue;
}

div#board {
	font-size:25pt;
}

div.cell {
	width:125px;
	height:125px;
	font-size:110px;
	font-weight:bold;
}

div.row {
	float:left;
}

div.display.odd {
	background-color:red;
}

div.display:not(.odd) {
	background-color: black;
}

div.display.purple {
	color: purple;
}

div.display.brown {
	color: brown;
}